---
services:
  minecraft:
    container_name: minecraft-server
    image: "{{ minecraft_image }}"
    restart: unless-stopped
    ports:
      - "{{ minecraft_port }}:25565"
    volumes:
      - "{{ minecraft_data_dir }}:/data"
    environment:
      EULA: "TRUE"
      TYPE: "PURPUR"
      VERSION: "{{ minecraft_version }}"
      MEMORY: "{{ minecraft_memory_max }}"
      JVM_XX_OPTS: "{{ minecraft_java_opts }}"
    labels:
      app: minecraft
      server: purpur
