server-ip={{ minecraft_server_ip }}
server-port=25565
whitelist={{ minecraft_whitelist | lower }}
enforce-whitelist={{ minecraft_enforce_whitelist | lower }}
max-players={{ minecraft_max_players }}
view-distance={{ minecraft_view_distance }}
simulation-distance={{ minecraft_simulation_distance }}
motd={{ minecraft_motd }}
difficulty={{ minecraft_difficulty }}
gamemode={{ minecraft_gamemode }}
